.btn{
    padding: 6px 8px;
    text-align: center;
    border-radius:5px ;
    font-size: 20px;
    color: white;
}
.btn--primary{
    border: 1px solid rgb(116, 116, 116);
    background: linear-gradient(180deg, rgb(0, 58, 167)0%, rgb(0, 44, 73)100%);
    text-align: center;
    align-items: center;
}
.btn--primary:hover{
    background: linear-gradient(180deg, rgb(0, 64, 184)0%, rgb(0, 56, 94)100%);
}
.btn--outlineLite{
    border: 1px solid rgb(255, 255, 255);
    background:transparent;
    text-align: center;
    align-items: center;
    border-radius:5px ;
}
.btn--outlineLite:hover{
    background:rgb(255, 255, 255);
    color: black;
}
.btn--outlineDark{
    border: 5px solid rgb(0, 0, 0);
    color: black;
    text-shadow: 0px 0px 20px white;
    background:transparent;
    text-align: center;
    align-items: center;
    border-radius:5px ;
}
.btn--outlineDark:hover{
    background:white;
    color: black;
}
