body{
  padding: 10px;
}
 .btn-rotate {
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }
  .btn-rotate:hover{
    transform: rotateZ(-30deg);
  }
.btn-shadow {
  color: #1D9AF2;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 10px;
  padding: 4px 20px;
  cursor: pointer;
  height: 50px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.btn-shadow:hover {
 box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
 transform: translateX(-3px);
}