.movies{
    width: 150px;
    height: 300px;
    border: 1px solid black ;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

img{
    width: 100%;
    height: 90%;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
}
